body {
    background-image: url(../img/about.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

header.design1{
    display: flex;
    width: 80vw;
    justify-content: center;
    padding: .7rem 10vw;
    align-items: center;
    background-color: black;
    position: fixed; 
    top: 0;
    left: 0;

} 

.home nav a{
    text-decoration: none;
    color:inherit;
 }

.home button{
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 15px;
    margin: 15px;
    border: 2px black solid;
    border-radius: 10px;
    transition: .1s;
}

.home button:hover{
    transform: scale(1.2);
    background-color: black;
    color: white;
    border: 2px white solid;;
 }

section.home{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 18vw;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 80px;
}

h2{
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   color: white;
   font-size: 40px; 
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
}

#box1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 90px;
}

#box2{
    display: flex;
    flex-direction: row;
    border: 2px white solid;
    border-radius: 15px;
    height: 350px;
    backdrop-filter: blur(4px);
}

#box3{
    display: flex;
    flex-direction: row;
}

#box3 img{
    width: 350px;
    border-radius: 15px;
}

#box4{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-right: 80px;
}

